.header {
    display: flex;
    background-color: #1f2937;
    padding-left: 150px;
    padding-right: 150px;
}

.header-logo {
    color: #f9faf8;
}

.header-links {
    display: flex;
    list-style-type: none;
    gap: 20px;
    color: #e5e7eb;
    margin-left: auto;
}